@{
    ViewBag.Title = "BrotherAdditionSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .linkControls {
        padding-top: 5%;
        padding-bottom: 5%;
    }
</style>

<div class="container">
    <div class="row">
        <h2 style="text-align: center;">Brother Addition Success!</h2>
        <h4 style="text-align: center;">This Brother is now able to record his service.</h4>
        <div style="text-align: center;" class="linkControls">
            <a href="~/">RETURN HOME</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="~/BrotherManager/BrotherManager">ADD A NEW BROTHER</a>
        </div>
    </div>
</div>